body {
    background: rgba(65, 105, 225, 0.75);
}

#pirmas {
    background-color: rgba(255, 255, 255, 0.5);
    width: 200px;
}

#antras {
    background-color: white;
    width: 300px;
    height: 200px;
}

#trecias {
    background: white;
    width: 50%;
}

#ketvirtas {
    background-color: beige;
    width: 800px;
    height: 200px;
}

#penktas {
    background: white;
    width: 100%;
    max-width: 1000px;
}

#lentele {
    background: white;
    width: 100%;
    /* width: fit-content; */
}

#sestas {
    background: gold;
    width: 300px;
}

#septintas {
    background: white;
}

#astuntas {
    background: wheat;
    height: 100vh;
    /* max-height 400px; */
}

#astuntas .vaikinis {
    background-color: white;
    height: 50%;
}

table,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
}

#kita-lentele {
    background: yellowgreen;
    width: 100%;
    height: 200px;
    text-align: center;
}

#kita-lentele td {
    vertical-align: text-top;
}

ul#pirmas-sarasas {
    list-style-type: square;
}

ol#antras-sarasas {
    list-style-type: lower-alpha;
}

#devintas a {
    text-decoration: none;
    background: black;
    color: white;
    transition: 0.3s all;
    border-radius: 40%;
    padding: 10px;
}

#devintas a:hover {
    background: red;
}

#desimtas {
    width: 200px;
    background: orange;
    transition: 0.5s all;
}

#desimtas:hover {
    width: 250px;
    background: royalblue;
}

#vienuoliktas {
    width: 300px;
    height: 200px;
    background: red;
    transition: 0.3s all;
}

#vienuoliktas:hover {
    background: white;
}

#vienuoliktas p {
    transition: 0.5s all;
}

#vienuoliktas:hover p {
    color: red;
}