* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* =================================
        NAV BAR
=================================  */

nav {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 25px 80px;
}

.logo {
    color: #32292F;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.nav ul li {
    list-style-type: none;
    color: #32292F;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 0.60px;
    word-wrap: break-word
}

.nav ul li:hover {
    text-decoration: underline;
    text-decoration-color: #A18C9A;
    text-decoration-thickness: 2px;
}

/* =================================
            HERO
=================================  */

.main-slide {
    width: 66%;
    height: 100vh;
    background: #F6F4F5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 80px 200px;
    gap: 20px;
}

.main-slide p {
    width: 432px;
    height: 68px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #32292F;
}

#main-slide-text {
    color: #32292F;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 200;
    line-height: 56px;
}

.main-slide a {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #32292F;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.relative-img-hero img {
    position: relative;
    top: -800px;
    left: 900px;
    width: 900px;
    flex-shrink: 0;
}

.separator-black {
    content: "";
    display: block;
    background-color: #32292F;
    width: 122px;
    height: 2px;
    position: relative;
    bottom: 80vh;
    left: 70vw;
}

/* .separator p {
    position: relative;
    bottom: 80vh;
    left: 70vw;
} */

.separator {
    position: relative;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    bottom: 80vh;
    left: 70vw;

}

.relative-img-hero {
    width: 0;
    height: 0;
}

/* =================================
            SECTION ONE
=================================  */

h1 {
    color: #32292F;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: 48px;
    margin: 60px auto;
}

.filler {
    height: 600px;
    width: 730px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 0 190px;
}

.filler h2 {
    color: #32292F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.filler p {
    width: 432px;
    color: #32292F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.filler a {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #32292F;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    border: 1px solid #32292F;
}

.relative-img-section-primary img {
    position: relative;
    top: -580px;
    left: 850px;
    width: 900px;
}

.relative-img-section-primary {
    width: 0;
    height: 0;
}

/* =================================
            SECTION TWO
=================================  */

.position {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    margin: 0 0 0 1000px;
}

.filler-2 {
    text-align: left;
    height: 600px;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 100px 0 100px 0;
}

.filler-2 h2 {
    color: #32292F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.filler-2 p {
    width: 432px;
    color: #32292F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.filler-2 a {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #32292F;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    border: 1px solid #32292F;
}

.relative-img-section-secondary img {
    position: relative;
    top: -700px;
    left: 100px;
    width: 900px;
}

.relative-img-section-secondary {
    width: 0;
    height: 0;
}

/* =================================
            FOTO GALLERY
=================================  */

.foto-galerija {
    width: 80%;
    height: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 50px 100px;
    gap: 25px;
}

#gallery-h2 {
    color: #32292F;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
    margin: 0 100px;
}

.pirma-foto img {
    width: 1100px;
}

.antra-foto img {
    height: 688.63px;
}

.galerijos-tekstas {
    color: #32292F;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.foto-galerija-2 {
    width: 80%;
    height: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 50px -100px 0 100px;
    gap: 25px;
}

.trecia-foto img {
    width: 820px;
}

.ketvirta-foto img {
    height: 688.11px;
}

/* =================================
            FOOTER
=================================  */

footer:before {
    content: "";
    display: block;
    background-color: #D6D4D5;
    width: 1700px;
    height: 2px;
    position: absolute;
    margin: -20px 0 0 0;
}

footer {
    margin: 170px 0 0 0;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    gap: 70px;
}

.nav-p {
    color: #32292F;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}

footer h3 {
    color: #32292F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.policies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.policies p {
    color: #32292F;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.location p {
    color: #32292F;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.copy-rights {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 100px;
}

.copy-rights:before {
    content: "";
    display: block;
    background-color: #D6D4D5;
    width: 1700px;
    height: 2px;
    position: absolute;
    margin: -20px 0 0 0;
}

.copy-rights p {
    color: #32292F;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

@media screen and (max-width: 375px) {

}