* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', "Helvetica Neue";
    box-sizing: border-box;
}

.header {
    background: wheat;
    width: 100vw;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 1;
}


.main-background {
    background-position: center;
    background-size: cover;
    background-image: url(fotkes/PirmasLapas10.JPG);
    width: 100vw;
    height: 80vh;
}

.separator::after {
    content: "";
    display: block;
    background-color: #dd9819;
    width: 100px;
    height: 2px;
    margin-left: 35%;
    margin-top: 1%;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-text-size {
    font-size: 57px;
}

.secondary-text-size {
    font-size: 30px;
}

.third-text-size {
    font-size: 16px;
}

.fourth-text-size {
    font-size: 12px;
}

.secondary-text {
    color: white;
    font-family: "Helvetica Neue";
}

li {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35%;
    font-family: 'Poppins';
    font-size: 30px;
    letter-spacing: 2px;

}

.secondary-background {
    width: 100%;
    height: 1000px;
    color: #fff;
    background: linear-gradient(45deg, #6f6a52d0, #966e33bd);
}

h2 {
    background-color: #dd9819;
    width: 100px;
    height: 2px;
    text-align: center;
}